* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smothing: antialiased;
}

body{
    background-image: url('../imagens/fundo\ ponto\ turistico\ 2.jpeg');
    background-size: cover;
    background-position: center;
    height: 40rem;
}

header h1{
margin-right: 6.9rem;
color: white;
display: inline-block;
font-size: 2.5rem;
}

a, h1{
    margin-right: 3rem;
    color: white;
    display: inline-block;
    font-size: 2.5rem;
    text-decoration: none;
}

header img{
    width: 12rem;
    height: 8rem;
    display: inline-block;
}

header{
    background-color: #A93500;
}

.texto{
    background-color: #fff7fb;
    padding: 28px;
    border-radius: 12px;
    height: 142rem;
    width: 25rem;
    margin-top: 7rem;
    margin-bottom: 10px;
    margin-left: 10rem;
    display: flex;
}

img > p {
    margin-bottom: 10rem;
}

.texto img{
    width: 20rem;
    height: 16rem;
}